<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Admin Directory</title>
</head>

<body>

<div class="container">

    <h3>Admin Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/admin/offerCourse}"
       class="btn btn-primary btn-sm mb-3">
        Offer Course
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Course Name</th>
            <th>Grade</th>
            <th>Update Grades</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempStudent : ${admin}">

            <td th:text="${tempStudent.studentName}" />
            <td th:text="${tempStudent.courseName}" />
            <td th:text="${tempStudent.grade}" />


            <td>
                <div class="row">

                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/admin/showFormForUpdate}" method="POST">

                            <input type="hidden" name="studentId" th:value="${tempStudent.studentId}" />
                            <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Update/Give Grade</button>

                        </form>
                    </div>

                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>
<a th:href="@{/}">Back to Home Page</a>
</body>
</html>









